@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;500;600;700&family=Karla:wght@800&display=swap');
@import url('~mdb-ui-kit/css/mdb.min.css');

h5, h3{
    font-family: 'Abril Fatface', cursive;
        font-family: 'Inter', sans-serif;
        font-family: 'Karla', sans-serif;
}